<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Deusto Big Data &amp; Business Intelligence - Chart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="/js/chart.js"></script>
</head>
<body>
    <h1>Chart</h1>
    <br />
    <div id="container" style="width:800px; height:400px">
    </div>
</body>
</html>